.select-base {
  padding: 2rem;
}

.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(1) {
  display: none !important;
}
.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(3) {
  display: none !important;
}