
html, body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #efefef;
  font-family: Avenir Next W01,Avenir Next W00,Avenir Next,Avenir,Helvetica Neue,sans-serif;
}

.header {
  background-color: #0079c1;
  color: #fff;
}

.heading {
  padding-left: 0.75rem;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  width: 100%;
  height: calc(100% - 68px);
  display: flex;
  flex-direction: row;
}
article:focus {
  outline: none;
}

/* map view */
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: calc(100% - 48px);
  
} 
.panel {
  min-width: 350px;
  max-width: 350px;
  height: 100%;
}

.panel.maximized {
  min-width: calc(100% - 96px)
}

@media only screen and (max-width: 500px) {
  .esri-ui-bottom-left .esri-expand {
    display: none;
  }
  .panel {
   min-width: calc(100% - 48px);
   z-index: 10;
   position: absolute;
   left: 0;
   right: 50px;
   top: 68px;
   height: calc(100% - 68px);
  }
  #viewDiv.below {
    z-index: 5;
  }
  #viewDiv {
    z-index: 20;
  }
  .maximize {
    display: none;
  }
  body {
    font-size: 16px;
  }
  input, select { font-size: 16px !important;}
  .esri-search {
    font-size: 16px !important;
  }
  .esri-search {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  calcite-tip-manager {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 0;
    margin: 1em;
    max-width: 100%;
    z-index: 12;
  }  
  #overviewDiv {
    max-width: 250px;
  }
}


.esri-search {
  width: 100%;
  border-bottom-color: rgb(234, 234, 234);
  border-bottom-style: solid;
  border-bottom-width: 1px;  
} 
#sideDiv {
  height: 100%;
  overflow: hidden;
}

#table {
  height: calc(100% - 80px);
}
#feature {
  overflow: hidden;
  height: 100%; 
}

#featureDiv {
  overflow: auto;
  height: calc(100% - 80px);
}



.hidden {
  display: none;
  
}

#drawDiv {
  overflow-y: auto;
  overflow-x: hidden;
}


calcite-radio-group {
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#actionBar, #leftActionbar {
  min-width: 48px;
}
calcite-action-bar {
  height: 100%;
  min-width: 48px;
}

:host calcite-panel :slotted[slot=content-trailing-header] {
  display: flex;
  flex-direction: row;
}

calcite-tip-manager {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  margin: 1em;
  max-width: 750px;
box-shadow: 0px 0px 27px 1px rgba(130,130,130,0.62);
}

.esri-legend__message {
  display: none;
}

.esri-icon-visible:before {
    content: "\e611";
    color: inherit;
}

.esri-icon-non-visible:before {
  content: "\e610";
  color: inherit;
}

#selectDiv {
  padding: 1em;
}

header  {
  display: flex;
}
header h2 {
  width: 100%;
}

header calcite-dropdown {
  margin-top: 10px;
}


#basemapDiv, #maps, #images {
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(1) {
  display: none !important;
}
.select-base .esri-sketch__section.esri-sketch__tool-section:nth-child(3) {
  display: none !important;
}

.select-base .esri-sketch__tool-section {
  border-right: none;
}

.esri-search__warning-menu {
  display: none;
}

calcite-loader {
  position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px - 68px);
    width: 50px;
    height: 50px;
    z-index: 10000;
    padding: 0;
}

#feature .esri-feature-fields__field-header {
  font-weight: bolder;
}
#feature .esri-feature__content-element {
  padding: 0 24px;
}

#feature calcite-button {
  padding: 4px;
}

#feature .esri-feature-content img {
  max-height: 230px;
}

#overviewDiv {
  width: 300px;
  height: 200px;
}

calcite-action {
  min-height: 48px;
}

.home-page__scroll-down-arrow {
  width: 48px;
  height: 48px;
  left: calc(50% - 16px);
  margin-bottom: 1em;
  position: absolute;
  -webkit-animation: arrowmove 3s;
  animation: arrowmove 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.home-page__scroll-down-arrow--black svg {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(255,255,255,1));
  filter: drop-shadow(0px 2px 4px rgba(255,255,255,1));
}



@-webkit-keyframes arrowmove {0% {bottom: 34px; opacity: 1;} 33% {bottom: 24px; opacity: 1;} 67% {bottom: 24px; opacity: 1;} 100% {bottom: 24px; opacity: 0;}}



@keyframes arrowmove {0% {bottom: 34px; opacity: 1;} 33% {bottom: 24px; opacity: 1;} 67% {bottom: 24px; opacity: 1;} 100% {bottom: 24px; opacity: 0;}}